<a href="/detail">
    {{#each this}}
<div class="item">
    <div class="img">
        <img src="{{this.image}}" alt=""">
    </div>
    <div class="info">
    <div class="info_row">
        <Label>{{this.name}}</Label>
    </div>
    <div  class="info_row">
        <Label style="font-size:15px" >{{this.price}}</Label>
    </div>
    <div  class="info_row">
        <button class="btn">Add to cart</button>
    </div>
    </div>
</div>
{{/each}}
</a>

