
{{#each this}}
<div class="item">
    <div class="img">
        <img src="./image/cavang.png" alt="">
    </div>
    <div class="info">
    <div>
        <Label>{{this.name}}</Label>
    </div>
    <div>
        <Label >{{this.price}}</Label>
    </div>
    <div>
        <button class="btn">Thêm vào giỏ hàng</Label>
    </div>
    </div>
</div>
{{/each}}
