
@font-face {
    font-family:BalooTamma;
    src:url('../font/BalooTamma2-Medium.ttf') format('truetype'),
    url('../fonts/Captureit.eot#iefix') format('embedded-opentype'),
    url('../fonts/Captureit.woff') format('woff');
    font-weight:normal;
    font-style:normal;
   }