<div class="menu">
  <div>
    <a href="" class="menu-left">FISH SHOP</a>
    
    <a href="/login" class="user "><p><i class="fas fa-user"></i> Sign in</p> </a>
    <a href="/products" class="menu-right">News</a>
    <a href="/products" class="menu-right">Sale</a>
    <a href="/products" class="menu-right">Products</a>
    <a href="/" class="menu-right">Home</a>
  </div>

</div>
<br />


