<div class="menu">
  <a href="" class="title">FISH SHOP</a>
  <div class="menu-header">
    <a href="/" class="menu-right">Home</a>
    <a href="/products" class="menu-right">Products</a>
    <a href="/products" class="menu-right">Sale</a>
    <a href="/products" class="menu-right">News</a>
    <a href="/login" class=" menu-right  user" style="width:5rem;">
      <p><i class="fas fa-user"></i>Sign in</p>
    </a>|
    <a href="/signup" class="user menu-right" style="width:6rem;" >
      <p><i class="fas fa-user-plus"></i>Sign up</p>
    </a>
  </div>
</div>
<br />