<a href="/products/detail">
    {{#each this}}
<div class="item">
    <div class="img">
        <img src="{{this.image}}" alt="">
    </div>
    <div class="info">
    <div class="info_row" style=" text-align: center;">
        <Label>{{this.name}}</Label>
    </div>
    <div  class="info_row"  style=" text-align: center; ">
        <Label style="font-size:25px;">{{this.price}} $ </Label>
    </div>
    <div  class="info_row" >
        <div style="font: size 25px; text-align: right;">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <Label> | 3  reviews</Label>
        </div>
        
    </div>
    <div  class="info_row">
        <button class="btn">Add to cart</button>
    </div>
    </div>
</div>
{{/each}}
</a>

