@font-face {
  font-family: BalooTamma;
  src: url("../font/BalooTamma2-Medium.ttf") format("truetype"), url("../fonts/Captureit.eot#iefix") format("embedded-opentype"), url("../fonts/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.title {
  margin-bottom: 30px; }
  .title h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    letter-spacing: 2px; }
  .title p {
    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 1px; }

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  height: 600px; }
  .container .section {
    width: 100%;
    height: 200px;
    background-color: white; }
    .container .section .about_img {
      height: 400px;
      display: flex;
      background-color: #b43f97; }
      .container .section .about_img .img {
        width: 50%;
        height: 100%;
        display: flex;
        background-color: #eefdff; }
        .container .section .about_img .img img {
          float: bottom;
          width: 60%;
          height: 100%;
          margin: 0 auto; }
      .container .section .about_img .btn_info_about {
        display: block;
        width: 50%;
        height: 100%;
        background-color: white; }
        .container .section .about_img .btn_info_about .btn_about {
          background-color: #B0E9F5;
          height: 15%;
          width: 100%; }
          .container .section .about_img .btn_info_about .btn_about button {
            height: 100%;
            width: 32.8%;
            font-size: 25px;
            color: #00054d;
            margin: none;
            background-color: #B0E9F5;
            letter-spacing: 3px; }
          .container .section .about_img .btn_info_about .btn_about button:hover {
            background-color: #f6feff;
            color: #030033; }
          .container .section .about_img .btn_info_about .btn_about .tab-btn.active {
            background: white;
            border-radius: 3px;
            box-shadow: 0px 0px 5px 0px #B0E9F5; }
          .container .section .about_img .btn_info_about .btn_about .tab-btn:hover:not(.active) {
            background: #ebf7ff;
            color: white; }
        .container .section .about_img .btn_info_about .about_content {
          width: 100%;
          height: 85%;
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          padding: 2rem 1.5rem; }
          .container .section .about_img .btn_info_about .about_content .content {
            display: none; }
            .container .section .about_img .btn_info_about .about_content .content h4 {
              letter-spacing: 2px;
              text-transform: capitalize;
              line-height: 1.25;
              margin-bottom: 0.75rem;
              color: #030759;
              font-size: 24px;
              text-align: justify; }
            .container .section .about_img .btn_info_about .about_content .content p {
              letter-spacing: 1px;
              text-transform: capitalize;
              line-height: 1.25;
              margin-bottom: 0.75rem;
              color: #030759;
              font-size: 15px;
              text-align: justify; }
          .container .section .about_img .btn_info_about .about_content .content.active {
            display: block; }

h1 {
  text-align: center;
  font-size: 50px;
  color: black;
  letter-spacing: 2px;
  margin: 0 auto; }

h1 {
  text-align: center;
  font-size: 50px;
  color: black;
  letter-spacing: 2px;
  margin: 0 auto; }

.frame_question {
  width: 50%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 100px; }
  .frame_question .frame {
    margin: 5px; }
  .frame_question .question {
    height: 80px;
    background-color: black; }
    .frame_question .question button {
      height: 100%;
      width: 100%;
      font-size: 20px;
      letter-spacing: 5px;
      color: #ffffff;
      background-color: #7eceff; }
  .frame_question .rep {
    height: 300px;
    display: none;
    background-color: #f1feff;
    padding: 20px; }
    .frame_question .rep strong {
      font-size: 20px;
      color: #030759;
      letter-spacing: 2px; }
    .frame_question .rep p {
      font-size: 18px;
      color: #2d328a;
      letter-spacing: 1px;
      text-align: justify; }

.slider {
  width: 100%;
  height: 600px;
  overflow: hidden; }
  .slider .sliders {
    width: 500%;
    height: 500px;
    display: flex; }
    .slider .sliders input {
      display: none; }
    .slider .sliders .slide {
      width: 20%;
      transition: 1.5s; }
    .slider .sliders .slide img {
      width: 100%;
      height: 600px; }
    .slider .sliders #radio1:checked ~ .first {
      margin-left: 0px; }
    .slider .sliders #radio2:checked ~ .first {
      margin-left: -20%; }
    .slider .sliders #radio3:checked ~ .first {
      margin-left: -40%; }
    .slider .sliders #radio4:checked ~ .first {
      margin-left: -60%; }
  .slider .navigation_manual {
    position: absolute;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center; }
    .slider .navigation_manual .manual_btn {
      border: 2px solid #e7e7e7;
      cursor: pointer;
      padding: 5px;
      border-radius: 10px;
      transition: 1s; }
    .slider .navigation_manual .manual_btn:not(:last-child) {
      margin-right: 40px; }
    .slider .navigation_manual .manual_btn:hover {
      background-color: #38BDF2; }
  .slider .navigation_auto {
    position: absolute;
    width: 100%;
    margin-top: 36rem;
    display: flex;
    justify-content: center; }
    .slider .navigation_auto div {
      border: 2px solid #e7e7e7;
      cursor: pointer;
      padding: 5px;
      border-radius: 10px;
      transition: 1s; }
    .slider .navigation_auto div:not(:last-child) {
      margin-right: 40px; }
  .slider #radio1:checked ~ .navigation_auto .auto_btn1 {
    background: #e7e7e7; }
  .slider #radio2:checked ~ .navigation_auto .auto_btn2 {
    background: #e7e7e7; }
  .slider #radio3:checked ~ .navigation_auto .auto_btn3 {
    background: #e7e7e7; }
  .slider #radio4:checked ~ .navigation_auto .auto_btn4 {
    background: #e7e7e7; }

.sale {
  margin: 50px 0 0 0; }
  .sale .sale_section {
    color: white;
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: #ddf0f8; }
    .sale .sale_section .sale_img {
      overflow: hidden;
      display: block;
      width: 70%;
      height: 500px; }
      .sale .sale_section .sale_img img {
        width: 100%;
        height: 100%; }
    .sale .sale_section .sale_info {
      margin-left: 20px;
      margin-top: 20px; }
      .sale .sale_section .sale_info h2 {
        color: #0a0063;
        font-size: 40px;
        letter-spacing: 5px;
        margin-bottom: 50px; }
      .sale .sale_section .sale_info h4 {
        color: black;
        font-size: 25px;
        letter-spacing: 3px;
        margin-bottom: 20px; }
      .sale .sale_section .sale_info p {
        color: #b3b1c0;
        font-size: 15px;
        letter-spacing: 2px; }
      .sale .sale_section .sale_info .deadline_sale {
        display: flex;
        margin-top: 50px;
        margin-left: 50px; }
        .sale .sale_section .sale_info .deadline_sale .deadline-format {
          background: #030759;
          color: #fff;
          margin-right: 1rem;
          width: 5rem;
          height: 5rem;
          display: grid;
          place-items: center;
          text-align: center; }
          .sale .sale_section .sale_info .deadline_sale .deadline-format h5 {
            letter-spacing: 0.25rem;
            text-transform: capitalize;
            line-height: 1.25;
            margin-bottom: 0.75rem;
            color: white; }
          .sale .sale_section .sale_info .deadline_sale .deadline-format span {
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.85rem;
            color: white; }
  .sale .sale_section:hover {
    box-shadow: 0px 0px 5px 0px #666; }
