.content_detail {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  padding: top 10px;
  display: flex;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 2px 0px #b6b6b6;
  background-color: #fafeff; }
  .content_detail .detail_img {
    width: 40%;
    height: 100%; }
    .content_detail .detail_img img {
      height: 100%;
      width: 100%; }
  .content_detail .detail_title {
    width: 20%;
    height: 100%; }
  .content_detail .detail {
    width: 40%;
    height: 100%;
    margin-right: 10px; }
  .content_detail .detail_name {
    width: 100%;
    height: 15%;
    margin-bottom: 5px;
    margin-top: 30px; }
  .content_detail .detail_description {
    width: 100%;
    height: 20%;
    margin-bottom: 5px; }
    .content_detail .detail_description p {
      text-align: justify; }
  .content_detail .detail_status {
    width: 100%;
    height: 10%;
    margin-bottom: 5px; }
  .content_detail .detail_quantity {
    width: 100%;
    height: 10%;
    margin-bottom: 5px; }
  .content_detail .detail_add {
    width: 100%;
    height: 20%;
    margin-bottom: 5px; }
    .content_detail .detail_add button {
      width: 60%;
      color: white; }
