        * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family:"Open Sans", sans-serif;
    color: blue;
}

.menu {
    overflow: hidden;
    letter-spacing: 5px;
    
    a {
        float: left;
        color: #27498C;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
        
    }
    .menu-right:hover {
        color: #BCFBFF;
        border-radius: 3px;
        transform: scale(1.1);
        transition: 1s;
        // box-shadow: 0px 4px 2px rgb(225, 255, 225);
        // font-size: 10px;
        // box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
        
    }
    .menu-left{
        float:left;
    }
    .menu-right{
        float:right;
    }
    .user {
        float:right;
        letter-spacing:1px;
        margin-top:28px;
        padding: 0px;
        font-size:20px;
        i,p{
            color: rgb(0, 5, 77);
        }

    }

}

.form_test {
    border-radius: 15px;
    background-color: rgb(238, 238, 255);
    padding: 50px;
    width: 50%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px 0px #666;
    .info {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(236, 236, 236);
        border-radius: 8px;
        resize: vertical;
    }
    .info:hover {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 15px;
        resize: vertical;
        box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    }
    .info:focus {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 15px;
        resize: vertical;
        outline: none;
        box-shadow: 1px 1px 2px 0px #666;
    }
    .row {
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            color: #030759;
            font-size: 20px;
        }
        input[type=submit] {
            background-color: #1BA0F2;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
            -moz-box-shadow: 3px 3px 5px 0px #666;
            -webkit-box-shadow: 3px 3px 5px 0px #666;
            box-shadow: 2px 2px 10px 0px rgb(201, 201, 201);
        }
        input[type=submit]:hover {
            background-color: #38D0F2;
            border-radius: 8px;
            -moz-box-shadow: 3px 3px 5px 0px #666;
            -webkit-box-shadow: 3px 3px 5px 0px #666;
            box-shadow: 3px 3px 5px 0px #666;
        }
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .label {
        text-align: center;
        width: 100%;
        font-size: 25px;
        margin-bottom: 40px;
        color: #030759;
    }
}

.footer-basic {
    background-color:hsl(189, 100%, 96%);
    height: 200px;
    width: 100%;
    margin: 0 auto;

    .footer-icon{
        padding-top: 35px;
        height:100px;
        width: 30%;
        display: flex;
        margin:0 auto;
        i{
            width: 30px;
            margin: 0 auto;
            color: rgb(5, 0, 48);
            font-size:24px;
        }

    }
    .footer-copyright{
        height: 100px;
        background-color:rgb(5, 0, 48);
        display: flex;
        h5{
            // padding-top:50px;
            margin: 0 auto;
            font-size:15px;
            font-family: "Open Sans", sans-serif;
            letter-spacing:2px;
            color: white;
            line-height:100px;
        }

    }

    
    }


        th {
            font-size: 18px;
            width: 500px;
            height: 40px;
            box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
            color: white;
        }
        td {
            height: 45px;
            text-align: center;
            box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
            margin: 2px;
        }
        tr:hover {
            box-shadow: 2px 2px 10px 0px rgb(151, 200, 255);
        }
        .label {
            text-align: center;
            width: 100%;
            font-size: 40px;
            margin-bottom: 40px;
            color: #030759;
        }
        .btn {
            border-radius: 8px;
            background: #F2A516;
            color: white;
            padding: 5px;
            margin: 5px;
            padding-inline: 20px;
            text-decoration: none
        }
        .btn:hover {
            box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
            background-color: #ffa704;
            color: black;
            border: 1px solid rgb(197, 197, 197);
        }
        .item{
            float: left;
            border-radius: 13px;
            border: 0.5px solid rgb(231, 231, 231);
            box-shadow: 1px 1px 5px  rgb(209, 209, 209);
            background-color: white;
            width: 210px;
            height:350px ;
            overflow:hidden;
            margin: 29px;
            
            .img{
                height:200px;
                background-color:  #38D0F2 ;
                border-radius: 14px 14px 0 0;
                margin-bottom: 10px;
                overflow: hidden;
                
                
                img{
                    width:100%;
                    height: 100%;
                }

            }

            .info{
                margin-top:10px;
                .info_row{
                    height: 40px;
                    label{
                        font-size: 20px;
                        text-align: left;
                        padding: 10px;
                        color: rgb(124, 124, 124);
                        letter-spacing:1px;
                    }
                    .btn{
                        background-color: #B0E9F5 ;
                        width: 70%;
                        margin: 0 auto;
                        color: white;
                        padding-inline: 20px;
                        text-decoration: none;
                        display: block;
                        margin-bottom: 5px;
                        flex:bottom;
                        letter-spacing: 3px;
                        border: 0;
                        box-shadow: 1px 1px 2px  rgb(179, 179, 179);
                    }
                    .btn:hover {
                        box-shadow: 1px 1px 5px 0px rgb(209, 209, 209);
                        color:#6dbecc;
                    }
                }
                
            }

        }
        .item:hover{
            // box-shadow: 0 0 15px rgb(180, 246, 255);
            transform: scale(1.1);
            transition: 1s;
        }
        .main{
            height: auto;
            width: 1075px;
            margin: 0 auto;
            cursor: pointer;
            overflow: hidden;

        }
        .slider{
            width: 100%;
            height:600px;
            overflow: hidden;

            .sliders{
                width: 500%;
                height: 500px;
                display: flex;
                input{
                    display: none;
                }
                .slide{
                    width: 20%;
                    transition:2s
                }
                .slide img{
                    width: 100%;
                    height: 600px;
                }
                #radio1:checked ~ .first{
                    margin-left: 0px;
                }
                #radio2:checked ~ .first{
                    margin-left: -20%;
                }
                #radio3:checked ~ .first{
                    margin-left: -40%;
                }
                #radio4:checked ~ .first{
                    margin-left: -60%;
                }
            }
            .navigation_manual{
                position: absolute;
                width: 100%;
                margin-top: 60px;
                display:flex;
                justify-content: center;
                .manual_btn{
                    border: 1px solid rgb(231, 231, 231);
                    cursor:pointer;
                    padding: 5px;
                    border-radius:10px;
                    transition:1s;
                }
                .manual_btn:not(:last-child){
                    margin-right: 40px;
                }
                .manual_btn:hover{
                    background-color: #38BDF2;
                }
                
            }

        }

        .sale{
            margin: 50px 0 0 0;
            .sale_section{
                color:white;
                width: 70%;
                margin: 0 auto;
                display: flex;
                background-color:rgb(221, 240, 248);
                .sale_img{
                    overflow: hidden;
                    display: block;
                    width: 70%;
                }
                .sale_info {
                    margin-left: 20px;
                    margin-top: 20px;
                    
                    h2{
                        color:rgb(10, 0, 99);
                        font-size:40px;
                        letter-spacing: 5px;
                        margin-bottom: 50px;
                    }
                    h4{
                        color:rgb(0, 0, 0);
                        font-size:25px;
                        letter-spacing: 3px;
                        margin-bottom: 20px;
                    }
                    p{
                        color:rgb(179, 177, 192);
                        font-size:15px;
                        letter-spacing: 2px;
                    
                    }
                    .deadline_sale{
                        display: flex;
                        margin-top: 50px;
                        margin-left: 50px;
                        .deadline-format{
                            background: #030759;
                            color: #fff;
                            margin-right: 1rem;
                            width: 5rem;
                            height: 5rem;
                            display: grid;
                            place-items: center;
                            text-align: center;
                            h5{
                                letter-spacing: 0.25rem;
                                text-transform: capitalize;//viet hoa chu cái đâu tiên
                                line-height: 1.25;
                                margin-bottom: 0.75rem;
                                font-family: "Open Sans", sans-serif;
                                color:white;
                            }
                            span{
                                display: block;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                font-size: 0.85rem;
                                color: white;
                            }
                        }
                    }
                    
    
                }
            }

            .sale_section:hover{
                box-shadow: 0px 0px 5px 0px #666;
            }
            

          }





    .title{
    margin-bottom: 30px;
    h1{
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 50px;
        color: black;
        letter-spacing:  2px;
    }
    p{
        text-align: center;
        font-size: 20px;
        color: black;
        letter-spacing:1px;
        font-family: "Open Sans", sans-serif;
    }
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 600px;;
    .section{
        width:100%;
        height: 200px;
        background-color: rgb(255, 255, 255);
        
        .about_img{
            height:400px;
            display: flex;
            background-color:rgb(180, 63, 151);
            .img{
                width: 50%;
                height: 100%;
                display: flex;
                background-color:rgb(238, 253, 255);


                img{
                    float:bottom;
                    width: 60%;
                    height: 100%;
                    margin: 0 auto;
                }
            }

            .btn_info_about{
                display: block;
                width: 50%;
                height:100%;
                background-color:white;
                .btn_about{
                    background-color:#B0E9F5;
                    height:15%;
                    width: 100%;
                    button{
                        height: 100%;
                        width: 32.8%;
                        font-size:25px;
                        color:rgb(0, 5, 77);
                        margin: none;
                        background-color:#B0E9F5;
                        font-family: "Open Sans", sans-serif;
                        letter-spacing:3px;
                    }

                    button:hover{
                        background-color: rgb(246, 254, 255);
                        color:rgb(3, 0, 51);
                    }
                    .tab-btn.active {
                        background: white;
                        border-radius: 3px;
                        box-shadow: 0px 0px 5px 0px #B0E9F5;
                      }
                    .tab-btn:hover:not(.active) {
                        background: hsl(205, 100%, 96%);
                        color: white;
                        
                      }

                }
                .about_content{
                    width: 100%;
                    height: 85%;
                    border-bottom-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    padding: 2rem 1.5rem;
                    
                    .content{
                        display: none;
                        h4{
                            letter-spacing: 2px;
                            text-transform: capitalize;//viet hoa chu cái đâu tiên
                            line-height: 1.25;
                            margin-bottom: 0.75rem;
                            font-family: "Open Sans", sans-serif;
                            color:#030759;
                            font-size: 24px;
                        }
                        p{
                            letter-spacing: 1px;
                            text-transform: capitalize;//viet hoa chu cái đâu tiên
                            line-height: 1.25;
                            margin-bottom: 0.75rem;
                            font-family: "Open Sans", sans-serif;
                            color:#030759;
                            font-size:15px;
                        }
                    }
                    .content.active{
                        display: block;
                    }
                    
                }
                
            }

        }
    }
}

h1{
    font-family:"Open Sans", sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    letter-spacing:  2px;
    margin:0 auto;
}

//login
.login_bg{
    height:80vh;
    // background-image: url(../image/bg_login.gif);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-bottom:100px;


    .frame_login{
        width: 35%;
        height: 100%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px 0px #b8b8b8;
        background-color:#e7fbff;
        
        // background-image: linear-gradient( to bottom right,rgb(0, 2, 124) ,rgb(71, 58, 255), rgb(192, 248, 255));

        .title{
            margin-bottom: 100px;
            h1{
                padding-top: 50px;
                letter-spacing: 5px;
                color: #ffffff;
                text-shadow: 1px 1px 2px #a3a3a3;
                
                
            }
            
        }
        .row_form{
            width: 500px;
            height:50px;
            margin: 0 auto;
            .row_center{
                margin: 0 auto;
                width:300px;
                height:60px;
                display: block;

                input[type=submit]{
                    margin-top:10px;
                    border-radius: 20px;
                    width: 100%;
                    height: 35px;
                    font-size:20px;
                    color:white;
                    background-color:#7eceff;
                    letter-spacing: 4px;
                    box-shadow: 2px 2px 1px 0px #dbdbdb;
                    
                }
                input[type=submit]:hover{
                    box-shadow: 2px 2px 5px 0px #b6b6b6;
                    opacity: 0.6;
                }
                
                p{
                    text-align: center;
                    width: 100%;
                    color:#000000;
                    font-size: 15px;
                    letter-spacing: 2px;
                    
                }
                a{
                    text-decoration: none;
                }
                .form_text{
                    width: 100%;
                    height:36px;
                    border-radius: 20px;
                    padding: 12px 20px;
                    font-size:20px;
                    box-shadow: 2px 2px 1px 0px #dbdbdb;
                    color:#7e7e7e;

                }
                .form_text:hover{
                    box-shadow: 2px 2px 1px 0px #b6b6b6;
                }
                .form_text:focus{
                    outline: none;
                    box-shadow: 2px 2px 1px 0px #b6b6b6;
                }
            }



            
        }
        
    }
    
}


.frame_question{
    width: 50%;
    margin: 0 auto;
    height:auto;
    padding-bottom: 100px;
    .frame{
        margin: 5px;
    }
    .question{
        height:80px;
        background-color: black;
        
        button{
            height:100%;
            width: 100%;
            font-size:20px;
            letter-spacing:5px;
            color:#ffffff;
            background-color: #7eceff;
        }

    }
    .rep{
        height:300px;
        display: none;
        background-color: #f1feff;
        padding: 20px;
        strong{
            font-size: 20px;
            color:#030759;
            letter-spacing:2px;
        }
        p{
            font-size: 18px;
            color:#2d328a;
            letter-spacing:1px;
        }
    }
}




// details
.content_detail{
    height:500px;
    width:900px;
    margin: 0 auto;
    padding: top 10px;
    display: flex;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 1px 1px 2px 0px #b6b6b6;
    background-color: #fafeff;
    .detail_img{
        width: 40%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
        
    
    }
     
    .detail_title{
        width: 20%;
        height: 100%;
        
    }
    .detail{
        width: 40%;
        height: 100%;

    }

    .detail_name{
        width: 100%;
        height: 20%;
        margin-bottom:5px;
        margin-top: 10px;
      
    }
    .detail_description{
        width: 100%;
        height: 40%;
        margin-bottom:5px;
    }
    .detail_status{
        width: 100%;
        height: 10%;
        margin-bottom:5px;
    }
    .detail_quantity{
        width: 100%;
        height: 10%;
        margin-bottom:5px;
    }
    .detail_add{
        width: 100%;
        height: 20%;
        margin-bottom:5px;
        button{
            width: 60%;
            color: white;

        }
        
    }
    h4{
        width: 100%;
        text-align: lesft;
        letter-spacing:2px;
        font-size: 15px;
        color:#030759;
        margin-left: 30px;
        
    }
    p{
        font-size: 17px;
        color: rgb(153, 153, 153);
    }
    #Status{
        color: rgb(0, 204, 0);
    }
    button{
        width: 60px;
        height: 30px;
        border-radius: 10px;
        background-color:#B0E9F5;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 1px 1px 2px 0px #b6b6b6;
    }
    i{
        font-size:15px;
        color: #63bdb8;

    }
    input{
        width: 60px;
        height: 30px;
        color:#666;
        text-align: center;
        border-radius: 3px;
        border: 1px solid rgb(224, 224, 224);
        
    }
    input:hover{
        transform:scale(1.1)
    }
    button:hover{
        transform:scale(1.1)
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
   
}