* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.menu {
    overflow: hidden;
    a {
        float: left;
        color: #27498C;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
    }
    a:hover {
        background-color: #1B8EF2;
        color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 2px rgb(225, 255, 225);
        font-size: 10px;
        box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    }
}

.form_test {
    border-radius: 15px;
    background-color: rgb(238, 238, 255);
    padding: 50px;
    width: 50%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px 0px #666;
    .info {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(236, 236, 236);
        border-radius: 8px;
        resize: vertical;
    }
    .info:hover {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 15px;
        resize: vertical;
        box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    }
    .info:focus {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 15px;
        resize: vertical;
        outline: none;
        box-shadow: 1px 1px 2px 0px #666;
    }
    .row {
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            color: #030759;
            font-size: 20px;
        }
        input[type=submit] {
            background-color: #1BA0F2;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
            -moz-box-shadow: 3px 3px 5px 0px #666;
            -webkit-box-shadow: 3px 3px 5px 0px #666;
            box-shadow: 2px 2px 10px 0px rgb(201, 201, 201);
        }
        input[type=submit]:hover {
            background-color: #38D0F2;
            border-radius: 8px;
            -moz-box-shadow: 3px 3px 5px 0px #666;
            -webkit-box-shadow: 3px 3px 5px 0px #666;
            box-shadow: 3px 3px 5px 0px #666;
        }
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .label {
        text-align: center;
        width: 100%;
        font-size: 25px;
        margin-bottom: 40px;
        color: #030759;
    }
}

.footer-basic {
    padding: 40px 0;
    background-color: rgb(238, 238, 255);
    margin-top: 40px;
    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        li {
            padding: 0 10px;
            a {
                color: #4b4c4d;
                text-decoration: none;
                opacity: 0.8;
            }
            a:hover {
                opacity: 1;
            }
        }
    }
    .social {
        text-align: center;
        padding-bottom: 25px;
        >a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }
        >a:hover {
            opacity: 0.9;
        }
    }
    .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

.tb_fish {
    width: 80%;
    margin: 0px auto;
}

.tb_th {
    background-color: #1B8EF2;
    padding: 30px;
    border: none;
}

th {
    font-size: 18px;
    width: 500px;
    height: 40px;
    box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    color: white;
}

td {
    height: 45px;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    margin: 2px;
}

tr:hover {
    box-shadow: 2px 2px 10px 0px rgb(151, 200, 255);
}

.label {
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 40px;
    color: #030759;
}

.btn {
    border-radius: 8px;
    background: #F2A516;
    color: white;
    padding: 5px;
    margin: 5px;
    padding-inline: 20px;
    text-decoration: none
}

.btn:hover {
    box-shadow: 2px 2px 10px 0px rgb(209, 209, 209);
    background-color: #ffa704;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 167);
}