
<div>
    <h1 style="margin-bottom: 50px;">Detail</h1>
  </div>
<div class="content_detail">
    <div class="detail_img">
        <img src="/image/ca2.png" alt="ca1">
    </div>

    <div class="detail_title">
        <div class="detail_name">
            <h4>Name</h4>
        </div>
        <div class="detail_description">
            <h4>Description</h4>
        </div>
        <div class="detail_status">
            <h4>Status</h4>
        </div>
        <div class="detail_quantity">
            <h4>Quantity</h4>
        </div>
        <div class="detail_add"></div>
    </div>
    <div class="detail">
        <div class="detail_name">
            <p>Ôi hoàng tử ....</p>
        </div>
        <div class="detail_description">
            <p>Không học thì đời mày sẽ toi đó con trai, tuy mày ngốc nhưng mầy không được bỏ cuộc ở đây. Tiếp tục đi
                biết đâu có lối thoát . Cố lên nhé anh bạn của tui. Mỗi ngày tui luô</p>
        </div>
        <div class="detail_status"><p id="Status">Còn</p></div>
        <div class="detail_quantity">
            <button onclick="tru" ><i class="fas fa-minus-circle"></i></button>
            <input type="number" id="detail_quantity" name="detail_quantity" value="1" min="1">
            <button onclick="cong" ><i class="fas fa-plus-circle"></i></button>
        </div>
        <div class="detail_add"> <button>Add to cart</button> </div>
    </div>

</div>
<div style="margin-bottom: 30px;"></div>