<div class="slider">
  <div class="sliders">
    <input type="radio" name="radio_btn" id="radio1">
    <input type="radio" name="radio_btn" id="radio2">
    <input type="radio" name="radio_btn" id="radio3">
    <input type="radio" name="radio_btn" id="radio4">

    <div class="slide first">
      <img src="./image/slider4.png" alt="">
    </div>
    <div class="slide">
      <img src="./image/slider2.png" alt="">
    </div>
    <div class="slide">
      <img src="./image/slider3.png" alt="">
    </div>
    <div class="slide">
      <img src="./image/slider4.png" alt="">
    </div>


    <div class="navigation_auto">
      <div class="auto_btn1"></div>
      <div class="auto_btn2"></div>
      <div class="auto_btn3"></div>
      <div class="auto_btn4"></div>

    </div>

  </div>

  <div class="navigation_manual">
    <label for="radio1" class="manual_btn"></label>
    <label for="radio2" class="manual_btn"></label>
    <label for="radio3" class="manual_btn"></label>
    <label for="radio4" class="manual_btn"></label>
  </div>

</div>


<div style="margin-bottom: 500px;"></div>


<div class="sale">
  <div class="sale_section">
    {{!-- img --}}
    <div class="sale_img">
      <img src="./image/cavang.png" alt="sale">
    </div>
    {{!-- info --}}
    <div class="sale_info">
      <h2>Supper sale</h2>
      <h4>
        Super sale on Sunday, 30 November 2021, 23:59PM
      </h4>
      <p id="paragraph">
        #Gold fish are 50% promotion until the end of November
      </p>
      <p id="paragraph">
        #Free shipping across Vietnam
      </p>

      <div class="deadline_sale">
        <div class="deadline-format">
          <div>
            <h5 class="days" class="giveaway">07</h5>
            <span>days</span>
          </div>
        </div>


        <div class="deadline-format">
          <div>
            <h5 class="hours" class="giveaway">20</h5>
            <span>hours</span>
          </div>
        </div>


        <div class="deadline-format">
          <div>
            <h5 class="minutes" class="giveaway">20</h5>
            <span>mins</span>
          </div>
        </div>


        <div class="deadline-format">
          <div>
            <h5 class="seconds" class="giveaway">20</h5>
            <span>secs</span>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<div style="margin-bottom: 500px;"></div>
{{!-- About --}}
<div class="container">
  <section class="section">
    <div class="title">
      <h1>fish shop</h1>
      <p>Nature friendly enjoy beauty</p>
    </div>

    <div class="about_img">

      <div class="img">
        <img src="./image/logo.png" alt="">
      </div>

      <div class="btn_info_about">
        <div class="btn_about">
          <button class="tab-btn active" data-id="history">history</button>
          <button class="tab-btn" data-id="vision">vision</button>
          <button class="tab-btn" data-id="goals">goals</button>
        </div>
        <div class="about_content">
          <div class="content active" id="history">
            <h4>History</h4>
            <p>
              I'm baby wolf pickled schlitz try-hard normcore marfa man bun
              mumblecore vice pop-up XOXO lomo kombucha glossier bicycle
              rights. Umami kinfolk salvia jean shorts offal venmo. Knausgaard
              tilde try-hard, woke fixie banjo man bun. Small batch tumeric
              mustache tbh wayfarers 8-bit shaman chartreuse tacos. Viral
              direct trade hoodie ugh chambray, craft beer pork belly flannel
              tacos single-origin coffee art party migas plaid pop-up.
              tacos single-origin coffee art party migas plaid pop-up.
              tacos single-origin coffee art party migas plaid pop-up.
            </p>
          </div>
          <!-- end of single item -->
          <!-- single item -->
          <div class="content" id="vision">
            <h4>Vision</h4>
            <p>
              Man bun PBR&B keytar copper mug prism, hell of helvetica. Synth
              crucifix offal deep v hella biodiesel. Church-key listicle
              polaroid put a bird on it chillwave palo santo enamel pin,
              tattooed meggings franzen la croix cray. Retro yr aesthetic four
              loko tbh helvetica air plant, neutra palo santo tofu mumblecore.
              Hoodie bushwick pour-over jean shorts chartreuse shabby chic.
              Roof party hammock master cleanse pop-up truffaut, bicycle
              rights skateboard affogato readymade sustainable deep v
              live-edge schlitz narwhal.
            </p>
          </div>
          <!-- end of single item -->
          <!-- single item -->
          <div class="content" id="goals">
            <h4>Goals</h4>
            <p>
              Chambray authentic truffaut, kickstarter brunch taxidermy vape
              heirloom four dollar toast raclette shoreditch church-key.
              Poutine etsy tote bag, cred fingerstache leggings cornhole
              everyday carry blog gastropub. Brunch biodiesel sartorial mlkshk
              swag, mixtape hashtag marfa readymade direct trade man braid
              cold-pressed roof party. Small batch adaptogen coloring book
              heirloom. Letterpress food truck hammock literally hell of wolf
              beard adaptogen everyday carry. Dreamcatcher pitchfork yuccie,
              banh mi salvia venmo photo booth quinoa chicharrones.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>


<div class="main">
<div>
         <h1>Products</h1>
</div>
    {{> home/list_fish manage_fish}}
</div>
<div style="margin-bottom: 500px;"></div>

