<div class="info_fish_table">
  <h2 class="label">List fish</h2>

  <a href="#" class="btn" style="background-color:#1B8EF2;"> Thêm </a>
  <table class="tb_fish">
    <thead>
      <tr class="tb_th">
        <th style="width: 50px;">STT</th>
        <th>ID</th>
        <th> Fish Name</th>
        <th> Quantity</th>
        <th> Price</th>
        <th> Image</th>
        <th style="width: 500px;"> Activate</th>
      </tr>
    </thead>
    {{> products/list_fish manage_fish}}
  </table>
</div>
