
    <div class="info_fish_table">
      <h2 class="label">List fish</h2>
      <a href="#" class="btn" style="background-color:#1B8EF2;"> Thêm </a>
      <table class="tb_fish">
        <thead>
          <tr class="tb_th">
            <th style="width: 50px;">STT</th>
            <th>ID</th>
            <th> Fish Name</th>
            <th> Quantity</th>
            <th> Price</th>
            <th> Image</th>
            <th style="width: 500px;"> Activate</th>
          </tr>
        </thead>
        {{!-- <tr>
          <td>1</td>
          <td>112112</td>
          <td>Bảy màu</td>
          <td>120</td>
          <td>20.000.000 vnd</td>
          <td>...</td>
          <td>
            <a href="#" class="btn"> Sửa </a>
            <a href="#" class="btn" style="background-color:red;">Xoá</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>112112</td>
          <td>Bảy màu</td>
          <td>120</td>
          <td>20.000.000 vnd</td>
          <td>...</td>
          <td>
            <a href="#" class="btn"> Sửa </a>
            <a href="#" class="btn" style="background-color:red;">Xoá</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>112112</td>
          <td>Bảy màu</td>
          <td>120</td>
          <td>20.000.000 vnd</td>
          <td>...</td>
          <td>
            <a href="#" class="btn"> Sửa </a>
            <a href="#" class="btn" style="background-color:red;">Xoá</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>112112</td>
          <td>Bảy màu</td>
          <td>120</td>
          <td>20.000.000 vnd</td>
          <td>...</td>
          <td>
            <a href="#" class="btn"> Sửa </a>
            <a href="#" class="btn" style="background-color:red;">Xoá</a>
          </td>
        </tr> --}}
      </table>
    </div>